@page {
  size: A4 landscape;
  margin: 0;
}
html, body{
    height: 210mm;
    width: 297mm;
    margin:0;
    padding:0;
}

h1{
  font-size:16px;
}
h2{
  font-size:14px;
}
h3{
  font-size:12px;
}

p,ul,li{
  font-size:12px;
}



section {
    page-break-after:always;
    margin:0;
    padding:0;
}

section, .hidden, .visible{
  display:block;
}

.col-50{

  width:128mm;
}
.col-50, .col-100{
  float:left;
  margin:0;
  padding:10mm;
}

.col-50 img, .col-100 img{
  
}